* {
  cursor: none;
  }

body {
  border-radius: 0px;
  background-image: linear-gradient(#383838 7.4% 9.5%, #282828 96%), linear-gradient(170deg, #212121, #141414);
  background-size: 1024px 768px, 1024px 768px;
  background-position: 0 0, 0 0;
  font-family: Helvetica, arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
}

label {
  margin: 0px auto;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

label:focus, label:active {
  outline: none;
}

label input {
  display: none;
}

/* MAIN BUTTONS */
label i {
  display: block;
  width: 125px;
  height: 40px;
  margin: auto;
  background: #141414;
  font-size: 36px;
  border-radius: 3%;
  box-shadow:
  0 0 0 2px #212121, /* outer most border */
  inset 0 0 0 2px rgba(0, 0, 0, 0.2), /* inner border */
  inset 0 0 20px 0 #525252, /* inner shade */
  0px 2px 10px 0px rgba(0, 0, 0, 0.45);/*outer shadow*/
  background-image: linear-gradient(#969696, #585858 90%, #353535); /* face Color */
  transition: 0.3s; /* transistions only work on background colors, not gradients. It's in here in case one day its supported. #futureman */
}

label i:before, label i:after {
  transition: 0.3s;
}

label input:checked + i {
  background: #fff7e7;
  box-shadow:
  0 0 0 2px #5B514F,
  0 0 10px #ffdda9,
  inset 0 0 0 2px rgba(255, 154, 0, 0.4),
  inset 0 0 15px rgba(255, 200, 0, 0.5);
  background-image:
  linear-gradient(#fff0d9, #ffe4b9 90%, #ffc266 10%, #ff9a00);
  transition: 0.3s;
}
/* END MAIN BUTTONS */

.title {
  display: inline-flex;
  align-items: center;
  position: static;
  height: 100px;
  border-radius: 3px;
}

.header {
  height: 100px;
  width: 1024px;
  padding: 10px 0 0 0;
  border-bottom: 1px solid #212121;
  border-width: 1px;
  box-shadow: 
  0px 0 0px -0.5px #353535, 
  0.25px -0.25px 2px #141414, 
  0 -2px 1.75px -1px #141414, 
  0 0.5px 15px -0.9px #212121 inset, 
  0 1.5px 1px -0.25px #353535 inset;
}

.plastic-label {
  position: relative;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  text-align: center;
  align-content: center;
  margin: 0 auto;
  width: 95%;
  height: 80px;
  border-radius: 8px;
  background-color: #212121; /*if you make this dark you'll need to fix the highlighting from the edges */
  box-shadow: 
  0 0 2px 0.5px rgba(65, 61, 58, 0.15) inset;
}

.model-main {
  position: relative;
  display: inline-flexbox;
  text-align: right;
  height: 50px;
  margin-top: -10px;
  margin-right: 32px;
  margin-bottom: -10px;
  z-index: 2;
}

.model-sub{
  position: relative;
  display: inline-flexbox;
  text-align: right;
  height: 20px;
  margin-right: 25px;
  z-index: 2;
  padding-top: 2px;
}

.class-make{
   background: linear-gradient(to bottom, #f4f4f4, #8f8f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.make{
  position: fixed;
  top: 6px;
  font-size: 64px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  letter-spacing: -1.5px;
  color: #ececec;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  width: 50%;
  margin-left: 15px;
  z-index: 2;
}

.function-wrapper{
  display: block;
  width: 400px;
  height: 70px;
  margin-left: 330px;
}

.function-titles{
  height: 24px;
  width: 380px;
  margin-left: 300px;
  margin: 4px 0px auto;
  display: inline-block;
  padding-bottom: 5px;
  margin-left: 3px;
  border-radius: 3px;
  border: 1px solid #FF5733;
  background-color: #FF5733;
}

.funct-child{
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  flex: 0 0 100%;
  margin-right: 5px;
  margin-left: 5px;
  color: #000;
  font-weight: bold;
}

.theme_button{
  font-size: 64px;
  font-family: 'Bebas Neue';
  font-weight: 400;
  letter-spacing: -1.5px;
  color: #ececec;
  height: 40px;
  width: 60px;
  margin-left: 11px;
  display: flex;
 }

a {
  color: white;
  text-decoration: none; /* no underline */
}

.model-wrapper {
  width: 250px; 
}

.top-name {
  font-size: 38px;
  font-family: "Audiowide", sans-serif;
  letter-spacing: -1px;
  color: #ececec;  
}

.sub-type {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  color: #ececec;
  text-transform: uppercase;
}

.key-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  background: #212121;
  justify-content: center;
  align-items: center;
  display: table-cell;
  width: 216px;
  height: 480px;
  float: right;
  box-shadow:
    0px 2px 1px -1.5px #141414 inset,
    0 0px 1px -0.5px #353535 inset,
    0 0px 2px -1px #353535 inset,
    /* 0 5px 10px -3px #BEB5AC inset, /*top inner shadow/highlight */
    /* 0 -5px 10px -3px #CBBEB6 inset, /*lower inner shadow/highlight */
    0 0 1px 0.25px #353535 inset, /* lower inner shadow going north */
    0px -1px 0px 1px #353535, /* weird border whitish shine */
    0 0.5px 0px -0.5px #353535, /* lower depth */
    0 1px 1px -2px #121212,
    0 0px 0.75px -0.25px #000,
    0 -1px 0px -0.25px #353535,
    0 0px 0px -1px #353535,
    0px 0 1px #353535,
    0px 0 1px #353535,
    0 0 0px 2px #353535;
  border-radius: 4px;
}

.everything {
display: flex;
height: 668;
}

.right-side{
  float: right;
  background-color: transparent;
  border-radius: 1px;
  box-shadow: 
  -1px 0px 1px 0px #212121, 
  -1px 0px 1px 0px #212121, 
  -1px 0px 0px 0px #212121, 
  0 1.5px 15px -0.9px #353535 inset, 
  0 1.5px 1px -0.25px #353535 inset;
  width: 256px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  padding-right: 20px;
}

.left-side{
  float: left;
  width: 768px;
  height: 500px;
}

.port-no {
  margin: 0px auto;
  color: #fff;
}

.button-container {
  display: block;
  position: static;
  width: 768px;
  height: 166px;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 
  0px 1px 0px -0.5px #212121, 
  0.25px 1px 2px #212121, 
  0 0px 1.75px -1px #353535, 
  0 0.5px 15px -0.9px #353535 inset, 
  0 1.5px 1px -0.25px #353535 inset;
  margin-bottom: 1px;
}

.buttons {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  text-align: center;
  width: 100%;
  flex: 1;
}

.button-rodeo {
  margin: 5px auto;
}

.channel {
  position: relative;
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  color: #bfbfbf;
  text-align: center;
  margin: 0px auto;
  width: 90%;
  height: 85px;
  border-radius: 5px;
  background-color: #212121; /*if you make this dark you'll need to fix the highlisting from the edges */
  box-shadow:
    0px 2px 1px -1.5px #212121 inset,
    0 0px 1px -0.5px #353535 inset,
    0 0px 2px -1px #353535 inset,
    /* 0 5px 10px -3px #BEB5AC inset, /*top inner shadow/highlight */
    /* 0 -5px 10px -3px #CBBEB6 inset, /*lower inner shadow/highlight */
    0 0 1px 0.25px #353535 inset, /* lower inner shadow going north */
    0px -1px 0px 1px #353535, /* weird border whitish shine */
    0 0.5px 0px -0.5px #353535, /* lower depth */
    0 1px 1px -2px #353535,
    0 0px 0.75px -0.25px #000,
    0 -1px 0px -0.25px #353535,
    0 0px 0px -1px #353535,
    0px 0 1px #353535,
    0px 0 1px #353535,
    0 0 0px 2px #353535;
}

.inset {
  width: 125px;
  height: 80px;
  position: relative;
  vertical-align: middle;
  margin: 1px auto;
}

.inset .light {
  position: relative;
  border-radius: 0.75px;
  background-image: linear-gradient(#28211B, #39312E);
  box-shadow: 
  -0.5px 0 0.5px #353535, 
  0 -0.5px 0.5px #353535, 
  0.5px 0 0.5px #353535, 
  0 0.5px 0.5px #443C39, 
  0 0 0.75px 0.5px #353535, 
  0 0 2px 1px #353535, 
  0 0 0.5px 0.5px #353535;
}

.button-container .inset .light .inner {
  top: 2.5px;
  left: 2.5px;
  background-color: #1b1b1b;
  border-radius: 1px;
  background: #1b1b1b;
  background-size: 3px 3px;
  box-shadow: 
  0 0 1px #353535, 
  0 0 2px #353535, 
  0 0 3px #353535, 
  0 0 5px 0.5px #353535, 
  0 0 2px 0.5px #212121 inset;
}

.button-container .list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  width: 90%;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  height: 35px;
  margin: auto;
}

.txt {
  display: inline-block;
  margin: 5px auto;
  width: 200px;
  color: #bfbfbf;
}

.button-container .list .txt {
  flex: 0 0 200px;
  text-align: center;
  color:  #bfbfbf ;
}

.button-container .track {
  text-align: center;
  width: 1024px;
  height: 10px;
  color: #bfbfbf;
}

.button-container .track:before, .button-container .track:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 39%;
  height: 2px;
  background-color: #1b1b1b;
  left: 0;
  top: 2.5px;
  box-shadow: 0 0 0.5px #212121, 0 0 1px #353535;
}

.button-container .track:after {
  left: 55%;
}

.track-top {
  text-align: center;
  width: 768px;
  height: 30px;
  color:  #bfbfbf;
  top: 0;
  padding-top: 3px;
  margin-bottom: 0px;
  font-weight: bold;  
}

.track-top:before, .track-top:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 39%;
  height: 2px;
  background-color:  #FF5733;
  left: 0;
  box-shadow: 0 0 0.5px #212121, 0 0 1px #353535;
}

.track-top:after {
  left: 55%;
}

.key {
  border-radius: 1.25px;
  background-image:
  linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), 
  linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), 
  linear-gradient(#808080 2%, #666666 4%, #3b3b3b 8%, #3b3b3b 90%, #292929 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45), 2px 5px 7px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129, 0.5px 0 1px -0.25px #453D3A inset, 0 -1.25px 1.5px -0.75px #22171B inset, 0 0px 0px 0px #AEA4A3 inset;
  color: #c9c9c9;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
  text-decoration: none;
  Margin: 10px 20px 10px 20px;
  user-select: none;
  display: block;
  align-items: center;
  text-align: center;
}

.key p {
  font-size: 16px;
  font-weight: 600;
  color: #5B514F;
  text-align: center;
  margin-top: 15px;
  text-shadow: 0 0 0.75px #C1BCB8, 0 0 1.25px #9D9894, 0 0 2.5px #A29D99;
  text-decoration: none;
}

.key:hover {
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#787dab 2%, #585e8d 4%, #43476b 8%, #43476b 90%, #232538 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  text-decoration: none;
  color: #c9c9c9;
}

.key:active {
  position: relative;
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#787dab 2%, #585e8d 4%, #43476b 8%, #43476b 90%, #232538 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  text-decoration: none;
}

.save {
  border-radius: 1.25px;
  background-image:
  linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), 
  linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), 
  linear-gradient(#8d8d8d 2%, #6b6b6b 4%, #686868 8%, #686868 90%, #595959 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45), 2px 5px 7px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129, 0.5px 0 1px -0.25px #453D3A inset, 0 -1.25px 1.5px -0.75px #22171B inset, 0 0px 0px 0px #AEA4A3 inset;
  color: #c9c9c9;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
  text-decoration: none;
  Margin: 10px 20px 10px 20px;
  display: block;
  align-items: center;
  text-align: center;
}

.save:hover {
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#7e9eae 2%, #5c8193 4%, #435e6c 8%, #435e6c 90%, #293a42 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  text-decoration: none;
  color: #c9c9c9;
}

.save:active {
  position: relative;
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), llinear-gradient(#7e9eae 2%, #5c8193 4%, #435e6c 8%, #435e6c 90%, #293a42 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
}

.off {
  border-radius: 1.25px;
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#e67982 2%, #db3d4a 4%, #ac202b 8%, #ac202b 90%, #300810 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45), 2px 5px 7px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129, 0.5px 0 1px -0.25px #453D3A inset, 0 -1.25px 1.5px -0.75px #22171B inset, 0 0px 0px 0px #AEA4A3 inset;
  color: #c9c9c9;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
  text-decoration: none;
  Margin: 10px 20px 10px 20px;
  display: block;
  align-items: center;
  text-align: center;
}

.off:hover {
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#e67982 2%, #db3d4a 4%, #ac202b 8%, #ac202b 90%, #300810 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  text-decoration: none;
  color: #c9c9c9;
}

.off:active {
  position: relative;
  background-image: linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), linear-gradient(#e67982 2%, #db3d4a 4%, #971c26 8%, #971c26 90%, #300810 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
}

.vl {
  content: "";
  display: block;
  vertical-align: middle;
  width: 90%;
  height: 1px;
  background-color: #473E37;
  left: 0px;
  margin: 5px auto;
}

.switch {
  border-radius: 1.25px;
  background-image: 
  linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), 
  linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), 
  linear-gradient(#595959 2%, #595959 4%, #595959 8%, #595959 90%, #595959 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45), 2px 5px 7px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129, 0.5px 0 1px -0.25px #453D3A inset, 0 -1.25px 1.5px -0.75px #22171B inset, 0 0px 0px 0px #353535 inset;
  color: #bfbfbf;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 30px;
  display: inline-block;
  flex: 0 0 100%;
  margin-right: 10px;
  margin-left: 6px;
  cursor: none;
}

.switch:hover {
  background-image: 
  linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), 
  linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), 
  linear-gradient(#595959 2%, #595959 4%, #595959 8%, #595959 90%, #595959 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
  text-decoration: none;
  color: #c9c9c9;
}

.switch:active {
  position: relative;
  background-image: 
  linear-gradient(270deg, #706756 5%, #9C958B 20%, transparent 50%), 
  linear-gradient(90deg, #2E232B 5%, #524846 20%, transparent 50%), 
  linear-gradient(#595959 2%, #595959 4%, #595959 8%, #595959 90%, #595959 100%);
  background-size: 20px 70px, 25px 70px, 100% 100%;
  background-position: calc(100% + 14px) -10px, -19px -10px, top left;
}

.album-art-paneling {
  top: 2.5px;
  height: 498px;
  width: 375px;
  background-color: transparent;
  box-shadow: 
  -1px 0px 1px 0px #212121, 
  -1px 0px 1px 0px #212121, 
  -1px 0px 0px 0px #212121, 
  0 1.5px 15px -0.9px #353535 inset, 
  0 1.5px 1px -0.25px #353535 inset;
}